.add-cocktail-backgroud {
  width: 100%;
  min-height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/bartender-3.jpg");
  background-size: cover;
  background-position: center;
}

.add-cocktail-container {
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 40vw;
  height: 40vh;
}

.add-cocktail-title {
  //   margin: 4rem 0;
  //   text-align: center;
  padding-top: 4rem;
  font-size: $home-page-sub-title-font;
  color: $font-main-color;
}

.error-message {
  font-family: $font-main;
  font-size: $small-font-size;
  margin-bottom: 1rem;
  color: $orange-color;
}

.add-cocktail-form-container {
  margin-top: 4rem;
}

.add-cocktail-form {
  display: flex;
}

.add-cocktail-form-input {
  font-family: $font-main;
  font-size: $small-font-size;
  margin-right: 2rem;
}

.button-24 {
  @extend %button-shared;
  border: 1px solid #ffffff;
  font-size: $small-font-size;
  color: $font-main-color;
}
.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #000000;
  background-color: white;
  border: 1px solid #000000;
}

.button-24:active {
  opacity: 0.5;
}

@media screen and (max-width: $mobile-screen) {
  .add-cocktail-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 90vw;
    height: 40vh;
  }
  .add-cocktail-form-input {
    font-size: $smaller-font-size;
    width: 80%;
    box-sizing: border-box;
  }
}
