#root {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  height: 16vh;
  width: 100%;
  background-color: $main-background-color;
  display: flex;
}

.social {
  width: 40vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.blog {
  display: flex;
  // justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.blog-text {
  width: 78%;
  color: white;
  text-align: justify;
}
