.cocktail-container {
  margin: auto;
  width: 45rem;
  padding: 4rem 0;
}

.cocktail-name {
  font-size: $big-font-size;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.upload-form-container {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.upload-form-title-container {
  margin-top: 6rem;
}

.upload-form-title {
  font-size: $extra-small-font-size;
  font-weight: bold;
  color: $orange-color;
}

.image-container {
  margin: $cocktail-image-margin;
  text-align: center;
}

.cocktail-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $small-font-size;
  color: $font-main-color;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: auto;
  left: 0;
  top: 0;
  text-decoration: none;
}
