.add-ingredient-form {
  display: flex;
}

.add-ingredient-form-input {
  font-family: $font-main;
  font-size: $smaller-font-size;
  margin-right: 1.5rem;
  width: 78%;
}

.button-ingredients {
  @extend %button-shared;
  font-size: $smaller-font-size;
  color: $font-main-color;
}

.button-ingredients:hover,
.button-ingredients:active {
  background-color: initial;
  background-position: 0 0;
  color: #000000;
  background-color: white;
  //   border: 1px solid #000000;
}

.button-ingredients:active {
  opacity: 0.5;
}

.show-ingrediets-container {
  margin-top: 2rem;
}

.ingredients-title {
  font-size: $smaller-font-size;
  font-weight: bold;
  color: $font-blue-color;
}

.single-ingredient-container {
  display: flex;
  align-items: center;
  font-size: $extra-small-font-size;
  //   font-weight: bold;
}

.one-ingredient {
  margin: 1rem 2rem 1rem 0;
}

.far {
  color: $font-blue-color;
  font-size: $smaller-font-size;
}

.no-ingredients {
  font-size: $extra-small-font-size;
  opacity: 0.4;
}
