$font-main: "Poppins", sans-serif;
$font-main-color: white;
$font-2nd-color: black;
$orange-color: rgb(228, 132, 24);
$font-blue-color: #7db4cb;
$main-background-color: rgb(37, 37, 37);
$big-font-size: 4rem;
$navbar-font-size: 3rem;
$small-font-size: 2.4rem;
$smaller-font-size: 1.8rem;
$extra-small-font-size: 1.5rem;
$very-small-font-size: 1.2rem;
$home-page-sub-title-font: 3rem;
$cocktail-image-margin: 3rem;

// Media queries
$mobile-screen: 428px;
$home-page-title-font-media: 2.5rem;
$cocktail-image-margin-media: 2rem;
