$font-main: "Poppins", sans-serif;
$font-main-color: white;
$font-blue-color: #7db4cb;
$main-background-color: rgb(37, 37, 37);
$navbar-font-size: 3rem;
$small-font-size: 2.4rem;
$home-page-sub-title-font: 3rem;
$cocktail-image-margin: 3rem;

// Media queries
$mobile-screen: 414px;
$home-page-title-font-media: 2.5rem;
$cocktail-image-margin-media: 2rem;
